html{
    scroll-snap-type: y mandatory;
    @apply bg-neutral-900
}

.container{
    max-width: 1000px !important;
}

body{
    scroll-snap-align: none;
}

section{
    min-height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    // scroll-snap-type: proximity;
    scroll-snap-type: mandatory;
    // scroll-padding-top: 8rem;
    @apply pb-64 pt-16 md:pb-0 md:pt-0
}


#home{
    ul{
        li{
            a{
                @apply p-1 block;
            }

            @apply mr-4 md:mr-2  bg-neutral-950;
            svg{
                @apply w-6 h-6 md:w-4 md:h-4 fill-primary;
            }
            

            &:hover{
                @apply bg-primary;
                svg{
                    @apply fill-neutral-950;
                }
            }
        }
    }
}

#projects{
    .project-container{
        img{
            @apply hover:scale-110 scale-100 transition-transform
        }
    }
}


.pulse-waves{
    animation: pulse-waves infinite 1s !important;
}

.sidebar{
    .sidebar-header{
        transition: all .3s;
    }

    @apply fixed bg-neutral-950 h-full flex text-primary items-center overflow-hidden sm:max-w-xs max-w-full w-full top-0 left-0 z-40 ;

    li{
        @apply mt-2 text-primary hover:text-neutral-950 hover:bg-primary flex items-center p-1 whitespace-nowrap;
        .icon{
            @apply w-4 h-4 flex-shrink-0 mr-4 text-neutral-950;
            svg{
                @apply fill-primary
            }
            
        }

        &:hover, &.active{
            .icon svg{
                @apply fill-neutral-950
            }
        }

        &.active{
            @apply text-neutral-950 bg-primary;
        }
    }

    &.collapsed{
        @apply lg:max-w-xxs max-w-0;
    }

    transition: all .3s;
}

.hamburger{
    @apply fixed left-9 top-9 w-4 h-4 cursor-pointer z-50;
    svg {
        @apply fill-primary;
    }
    svg path{
        @apply stroke-primary;
    }
    &::before{
        content: '';
        @apply absolute -top-4 -left-4 w-12 h-12 bg-neutral-950 -z-10;

    }
}

.project-bar{
    @apply fixed top-0 right-0 bg-neutral-950 h-64 z-50 sm:max-w-[32rem] max-w-full w-full h-full flex overflow-hidden text-primary items-center z-50;

    &.collapsed{
        @apply max-w-0;
        z-index: 0;
    }

    transition: all .3s;
    

    .btn-close{
        @apply absolute left-9 top-9 w-4 h-4 cursor-pointer z-50;
        svg {
            @apply fill-primary;
        }
        svg path{
            @apply stroke-primary;
        }
    }
}

@keyframes pulse-waves {
    0% {
      box-shadow: 0 0 0 0 rgba(#efefef, 0.7);
    }
  
    70% {
      box-shadow: 0 0 0 10px rgba(#efefef, 0);
    }
  
    100% {
      box-shadow: 0 0 0 0 rgba(#efefef, 0);
    }
  }

  ::-moz-selection { /* Code for Firefox */
    // color: white;
    background: #efefef;
  }
  
  ::selection {
    // color: red;
    background: rgba(#efefef, 0.1);
  }

  @keyframes blink {
    0% { opacity: 1; }
   49% { opacity: 1; }
   50% { opacity: 0; }
  100% { opacity: 0; }
}

.Typewriter__cursor{
    animation: blink 1s infinite !important;
  }
